@model IEnumerable<Agreat.Models.Product>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Список продуктов</h2>

        </div>
        <div class="col-6 text-right">
            <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary">
                <i class="fa-solid fa-plus"></i> &nbsp; Создать новый продукт
            </a>


        </div>

    </div>
    <br />
    <br />
    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" archive="width:100%">
            <thead>
                <tr>
                    <th>
                        Имя продукта
                    </th>
                    <th>
                        Стоимость
                    </th>
                    <th>
                        Действия
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var el in Model)
                {
                    <tr>
                        <td width="50%">@el.Name</td>
                        <td width="30%">@el.Price</td>
                        <td class="text-center">
                            <div class="w-75 btn-group" role="group">
                                <a  asp-route-Id="@el.Id" asp-action="Upsert" class="btn btn-primary mx-1">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                                <a  asp-route-Id="@el.Id" asp-action="Delete" class="btn btn-danger mx-1">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </div>

                        </td>
                    </tr>
                }
            </tbody>

        </table>
    }
    else
    {
        <p>Продукта не существует</p>
    }

</div>

